@imoprt '../abstracts/mixins'

._content
  max-width: 90%
  margin: 0 auto

.header
  position: relative
  z-index: 9999

.header__navigation
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 20px 40px
  background-color: rgba(0,0,0, 0.8)
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 9999

.header__logo
  background: url('../../assets/logo.svg') no-repeat center
  background-size: contain
  width: 100px
  height: 35px

.header__nav-list
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  gap: 40px

.header__item
  @include mainText
  color: white
  text-transform: uppercase

.header__link:after
  background-color: $colorWavy
  display: block
  content: ""
  height: 2px
  width: 0%
  transition: width 0.8s ease-in-out

.header__link:hover:after
  width: 100%